header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.theme-switch {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  height: 30px;
  width: 90px;
}

.theme-switch input[type="radio"] {
  display: none;
}

.switch-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 16px;
  width: 80px;
  border-radius: 16px;
  background-color: var(--input-background-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.switch-thumb {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: var(--color-picker-selector-color);
  box-shadow: 0 2px 4px var(--color-picker-selector-box-shadow-color);
  cursor: pointer;
}

.theme-switch input[type="radio"][value="dark"]:checked ~ .switch-thumb {
  transform: translateY(-50%) translateX(48px);
}

.theme-switch input[type="radio"][value="auto"]:checked ~ .switch-thumb {
  transform: translateY(-50%) translateX(24px);
}

.theme-switch input[type="radio"][value="light"]:checked ~ .switch-thumb {
  transform: translateY(-50%) translateX(0);
}
